<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/3.0.1/modern-normalize.min.css"
      integrity="sha512-q6WgHqiHlKyOqslT/lgBgodhd03Wp4BEqKeW6nNtlOY4quzyG3VoQKFrieaCeSnuVseNKRGpGeDU3qPmabCANg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Aboreto&family=Quicksand:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <title>CoffeeJoy</title>
    <link rel="stylesheet" href="../css/experience.css" />
  </head>
  <body>
    <section class="experience">
      <div class="container">
        <h2 class="experience-title">Coffee Moments</h2>
        <p class="experience-text">
          Experience the warmth and community of CoffeeJoy.
        </p>
        <div class="desktop-wrap">
          <ul class="experience-list">
            <li class="experience-item">
              <img
                class="experience-img"
                srcset="
                  ../img/experience/img_12.jpg    1x,
                  ../img/experience/img_12@2x.jpg 2x
                "
                src="../img/experience/img_12.jpg"
                alt="cup-of-coffee"
              />
            </li>
            <li class="experience-item">
              <img
                class="experience-img"
                srcset="
                  ../img/experience/img_11.jpg    1x,
                  ../img/experience/img_11@2x.jpg 2x
                "
                src="../img/experience/img_11.jpg"
                alt="coffee-and-croissant"
              />
            </li>
            <li class="experience-item">
              <img
                class="experience-img"
                srcset="
                  ../img/experience/img_10.jpg    1x,
                  ../img/experience/img_10@2x.jpg 2x
                "
                src="../img/experience/img_10.jpg"
                alt="coffee-and-book"
              />
            </li>
            <li class="experience-item">
              <img
                class="experience-img"
                srcset="
                  ../img/experience/img_09.jpg    1x,
                  ../img/experience/img_09@2x.jpg 2x
                "
                src="../img/experience/img_09.jpg"
                alt="barista-make-coffee"
              />
            </li>
            <li class="experience-item">
              <img
                class="experience-img"
                srcset="
                  ../img/experience/img_08.jpg    1x,
                  ../img/experience/img_08@2x.jpg 2x
                "
                src="../img/experience/img_08.jpg"
                alt="cafe"
              />
            </li>
            <li class="experience-item">
              <img
                class="experience-img"
                srcset="
                  ../img/experience/img_07.jpg    1x,
                  ../img/experience/img_07@2x.jpg 2x
                "
                src="../img/experience/img_07.jpg"
                alt="two-cups-of-coffee"
              />
            </li>
            <li class="experience-item">
              <img
                class="experience-img last-img"
                srcset="
                  ../img/experience/img_06.jpg    1x,
                  ../img/experience/img_06@2x.jpg 2x
                "
                src="../img/experience/img_06.jpg"
                alt="coffee-to-go"
              />
            </li>
          </ul>
        </div>
      </div>
    </section>
  </body>
</html>
