<footer class="page-footer">
    <div class="container footer-container">
        <div class="footer-content">
            <div class="footer-content-left">
            <a class="footer-logo" href="#">
                <svg class="icon-vector" width="146" height="84">
                    <use href="/icons.svg#icon-company-logo"></use>
                </svg>
            </a>
            <ul class="social-links">
                <li class="social-link-item">
                    <a class="link" href="https://www.facebook.com/">
                        <svg class="icon-vector" width="32" height="32">
                            <use href="/icons.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-link-item">
                    <a class="link" href="https://www.instagram.com/">
                        <svg class="icon-vector" width="32" height="32">
                            <use href="/icons.svg#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-link-item">
                    <a class="link" href="https://x.com/">
                        <svg class="icon-vector" width="32" height="32">
                            <use href="/icons.svg#icon-X"></use>
                        </svg>
                    </a>
                </li>
            </ul>
            </div>
            <ul class="footer-menu-list">
                <li><a class="footer-menu-link" href="#">About us</a></li>
                <li><a class="footer-menu-link" href="#">Benefits</a></li>
                <li><a class="footer-menu-link" href="#">Gallery</a></li>
                <li><a class="footer-menu-link" href="#">Testimonial</a></li>
                <li><a class="footer-menu-link" href="#">Location</a></li>
            </ul>
        </div>
        <div class="footer-rights">
            <p>© 2025 CoffeeJoy. All rights reserved.</p>
        </div>
    </div>
</footer>