<section class="quality-section">
  <div class="container">
    <p class="tagline tagline-quality">Quality</p>

    <div class="heading-wrapper">
      <h2 class="section-heading section-heading-quality">
        Why CoffeeJoy Stands Out from the Rest
      </h2>
      <p class="quality-heading-text">
        At CoffeeJoy, we pride ourselves on delivering the freshest roasted
        coffee, crafted with care by our skilled baristas. Our flexible
        subscription plans ensure that your coffee experience is tailored to
        your needs.
      </p>
    </div>

    <ul class="quality-list">
      <li class="quality-list-item">
        <img
          class="quality-list-img"
          srcset="
            ../img/quality/img_05.jpg    1x,
            ../img/quality/img_05@2x.jpg 2x,
            ../img/quality/img_05@3x.jpg 3x
          "
          src="../img/quality/img_05.jpg"
          alt="Coffee beans"
          sizes="(min-width:1024px) 420px, (min-width:768px) 340px, (min-width:375px) 345px"
          width="420"
          height="315"
        />

        <div class="quality-list-wrapper">
          <h3 class="quality-list-heading">
            Fresh-Roasted Coffee for Every Taste
          </h3>

          <p class="quality-list-text">
            Savor the rich flavors of our expertly sourced beans.
          </p>
        </div>
      </li>

      <li class="quality-list-item">
        <img
          class="quality-list-img"
          srcset="
            ../img/quality/img_04.jpg    1x,
            ../img/quality/img_04@2x.jpg 2x,
            ../img/quality/img_04@3x.jpg 3x
          "
          src="/img/quality/img_04.jpg"
          alt="Barista"
          sizes="(min-width:1024px) 420px, (min-width:768px) 340px, (min-width:375px) 345px"
          width="420"
          height="315"
        />
        <div class="quality-list-wrapper">
          <h3 class="quality-list-heading">
            Expert Baristas Crafting Your Perfect Brew
          </h3>
          <p class="quality-list-text">
            Our baristas are passionate about coffee and skilled in their craft.
          </p>
        </div>
      </li>

      <li class="quality-list-item quality-list-item-accent">
        <img
          class="quality-list-img"
          srcset="
            ../img/quality/img_03.jpg    1x,
            ../img/quality/img_03@2x.jpg 2x,
            ../img/quality/img_03@3x.jpg 3x
          "
          src="/img/quality/img_03.jpg"
          alt="Atmosphere"
          sizes="(min-width:1024px) 420px, (min-width:768px) 704px, (min-width:375px) 345px"
          width="704"
          height="315"
        />
        <div class="quality-list-wrapper-accent">
          <h3 class="quality-list-heading">Cozy Atmosphere</h3>
          <p class="quality-list-text">
            We don’t just serve coffee — we create a warm and welcoming space
            where every cup feels like home.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
