<section class="subscribes">
  <div class="container subscribe_f">
    <div class="sub_t_d_desk">
      <h2 class="subscribe_title">Join Our Coffee Community</h2>
      <p class="subscribe_describe">
        Experience the joy of coffee delivered right to your door. Sign up
        today!
      </p>
    </div>
    <div class="">
      <form class="input_form" name="subscribe_form" autocomplete="on">
        <label class="input_label" for="input-email">
          <input
            class="input_item"
            name="input-email"
            type="email"
            placeholder="Your Email Here"
            required
          />
        </label>
        <button class="input_button" type="submit">
          Subscribe
          <svg class="input_icon" width="24" height="24">
            <use href="/public/icons.svg#icon-chevrons-right"></use>
          </svg>
        </button>
      </form>
      <p class="subscribe_explanation">
        By clicking Get Started, you agree to our Terms and Conditions.
      </p>
    </div>
    <img
      class="img_width_height"
      srcset="
        /img/subscribe/img_13.jpg    1x,
        /img/subscribe/img_13@2x.jpg 2x,
        /img/subscribe/img_13@3x.jpg 3x
      "
      alt="Join Our Coffee Community"
    />
  </div>
</section>
