.container {
  min-width: 320px;
  margin: 0 auto;
  padding: 18px 16px;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .container {
    padding: 0px 32px;
  }
  .site-header > .container {
    padding: 18px 64px;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 64px;
  }
}
