footer{
    padding-top: 24px;
    padding-bottom: 24px;
    background: var(--color-scheme-2-background);
}
.footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-content{
    border: 1px solid var(--color-scheme-1-border);
    background: var(--color-scheme-1-foreground);
    border-radius: 40px;
    padding: 32px 0;
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer-content-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.social-links{
    display: flex;
    gap: 12px;
}
.social-link-item{
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link-item:hover,
.social-link-item:focus,
.footer-menu-link:hover,
.footer-menu-link:focus{
    opacity: 0.4;
}
.footer-menu-list{
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 32px;
    text-align: center;
    align-items: center;
}

.footer-menu-link{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-scheme-1-text);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-rights{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--color-scheme-1-text);
    margin-top: 32px;
}

@media (min-width: 768px){
    .footer-content{
        flex-direction: row;
        flex-wrap: wrap;
        height: 156px;
        gap: 32px 40px;
        padding: 32px 124px;
    }
    .footer-logo .icon-vector{
        width: 84px;
        height: 36px;
    }
    .social-links{
        margin: 0;
    }
    .social-links .icon-vector{
        width: 24px;
        height: 24px;
    }
    .footer-menu-list{
        flex-direction: row;
        margin: 0;
    }
    .footer-content-left{
        gap: 40px;
        flex-direction: row;
    }
}
@media (min-width: 1440px) {
    .footer-content {
        flex-direction: row;
        flex-wrap: nowrap;
        height: 100px;
        gap: 0;
        padding: 32px 48px;
        justify-content: space-between;
    }
}
