.quality-section {
    padding: 64px 0;
}

.tagline-quality {
    margin-bottom: 16px;
}

.heading-wrapper {
display: flex;
flex-direction: column;
gap: 24px;
align-items: center;
justify-content: center;

margin-bottom: 32px;
}

@media only screen and (min-width: 375px) {
    .section-heading-quality {
        max-width: 345px;
    }
}

@media only screen and (min-width: 768px) {
    .section-heading-quality {
        max-width: 452px;
    }
}

@media only screen and (min-width: 1440px) {
    .section-heading-quality {
        max-width: 768px;
    }
}

.quality-heading-text {
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    color: var(--color-scheme-1-text);
   
}

@media only screen and (min-width: 375px) {
    .quality-heading-text {
        max-width: 345px;
    }
}

@media only screen and (min-width: 768px) {
.quality-heading-text {
    max-width: 704px;
  }
}

@media only screen and (min-width: 1440px) {
    .quality-heading-text {
        max-width: 768px;
    }
}

.quality-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

@media only screen and (min-width: 768px) {
    .quality-list {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media only screen and (min-width: 1440px) {
  .quality-list {
    align-items: baseline;
  }
}
.quality-list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media only screen and (min-width: 375px) {
    .quality-list-item {
        max-width: 345px;
    }
}

@media only screen and (min-width: 768px) {
  .quality-list-item {
      max-width: 340px
  }
}

@media only screen and (min-width: 768px) {
    .quality-list-item-accent {
        max-width: 700px;
    }
}

@media only screen and (min-width: 1440px) {
    .quality-list-item {
        max-width: 420px
    }
}

.quality-list-img {
    border-radius: 32px;

    margin-bottom: 32px;
}

.quality-list-heading {
        font-size: 20px;
        line-height: 1.5;
        text-align: center;
        color: var(--color-scheme-1-text);
        margin-bottom: 8px;
}

.quality-list-text {
        line-height: 1.5;
        text-align: center;
        color: var(--color-scheme-1-text);
}


  .quality-list-wrapper {
max-width: 284px;
  }

@media only screen and (min-width: 1440px) {
    .quality-list-wrapper {
        max-width: none;
    }
}

.quality-list-wrapper-accent {
    max-width: 440px;
}
