.subscribes {
  padding-top: 64px;
  padding-bottom: 64px;
}

.subscribe_f {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: left;
}

.subscribe_title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 36px;
  line-height: 120%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: var(--color-neutral-darkest);
}
.subscribe_describe {
  margin-top: 24px;
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0em;
  color: var(--color-neutral-darkest);
  text-align: left;
}

.input_form {
  justify-content: center;
  align-items: center;
  display: block;
}
.input_item {
  background-color: var(--opacity-transparent);
  height: 40px;
  border-radius: 12px;
  border: 1px solid var(--opacity-neutral-darkest-15);
  color: var(--opacity-neutral-darkest-60);
  padding: 8px 12px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 24px;
  cursor: pointer;
}
.input_item::placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0em;
  color: var(--opacity-neutral-darkest-60);
  opacity: 1;
  transition: opacity 0.7s ease;
}

.input_item:hover::placeholder {
  color: var(--color-neutral-darkest);
}
.input_item:focus {
  outline: none;
}

.input_item:focus::placeholder {
  opacity: 0;
}
.input_button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 100px;
  font-family: var(--font-family);
  background-color: var(--color-coffee-dark);
  color: var(--color-white);
  padding: 10px 24px;
  box-shadow: 0px 1px 2px var(--opacity-neutral-darkest-5),
    inset 0px -2px 1px 0px rgba(0, 0, 0, 0.2),
    inset 0px 0px 0px 1px var(--opacity-neutral-darkest-15),
    inset 0px 2px 1px 0px rgba(255, 255, 255, 0.25),
    inset 0px 32px 24px 0px var(--opacity-white-5);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input_icon {
  fill: var(--color-white);
  margin-left: 12px;
  animation: moveIcon 2s infinite alternate;
}
@keyframes moveIcon {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(10px);
  }
}
.input_button:hover {
  color: var(--color-neutral-darkest);
  background-color: var(--opacity-neutral-darkest-10);
  .input_icon {
    fill: var(--color-neutral-darkest);
  }
}

.subscribe_explanation {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: var(--color-neutral-darkest);
  margin-top: 16px;
}

.img_width_height {
  height: 400px;
  object-fit: cover;
  border-radius: 50px;
}
@media only screen and (max-width: 375px) {
  .subscribe_f {
    width: 100%;
  }
  .input_item {
    width: 100%;
  }
  .input_button {
    width: 100%;
  }
  .img_width_height {
    width: 100%;
  }
}
@media only screen and (min-width: 376px) {
  .img_width_height,
  .subscribe_f {
    width: 375px;
  }
  .input_item,
  .input_button {
    width: 340px;
  }
}
@media screen and (min-width: 768px) {
  .subscribe_f,
  .img_width_height {
    width: 704px;
  }
  .input_button {
    width: 158px;
    margin: 0;
  }
  .input_form {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
  .input_item {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1440px) {
  .subscribe_f {
    width: 1440px;
    height: 400px;
    flex-direction: column;
  }
  .subscribe_title {
    font-size: 48px;
  }
  .sub_t_d_desk {
    width: 640px;
    height: 167px;
    margin-top: 61.5px;
  }

  .img_width_height {
    width: 640px;
  }
  .input_form {
    justify-content: left;
    align-items: center;
    gap: 16px;
  }
}
